<div class="card" ng-init="loadInsertData()" ng-controller="ExtraIncomesController">
  <h4 class="card-header">
    <i class="fa fa-credit-card" aria-hidden="true"></i> INGRESO DE INGRESOS EXTRA
  </h4>
  <div class="card-body">
      <form ng-submit="insert()">
        <div class="row">
          <div class="col-sm-12 col-md-4">
            <div class="form-group">
              <label for="extra-income-code">
                Código Interno del Ingreso Extra
              </label>
              <div class="input-group">
                <span class="input-group-addon" id="extra-income-code-addon"><i class="fa fa-code" aria-hidden="true"></i></span>
                <input type="text" ng-model="formData.internalCode" class="form-control" placeholder="Codigo Interno del Ingreso Extra" aria-label="Codigo Interno del Ingreso Extra" aria-describedby="extra-income-code-addon" id="extra-income-code" required>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-4">
            <div class="form-group">
              <label for="extra-income-title">
                Título General del Ingreso Extra
              </label>
              <div class="input-group">
                <span class="input-group-addon" id="extra-income-title-addon"><i class="fa fa-font" aria-hidden="true"></i></span>
                <input type="text" ng-model="formData.title" class="form-control" placeholder="Título General del Ingreso Extra" aria-label="Título General del Ingreso Extra" aria-describedby="extra-income-title-addon" id="extra-income-title" required>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-4">
            <div class="form-group">
              <label for="total-extra-income">
                Ingreso Extra Total
              </label>
              <div class="input-group">
                <span class="input-group-addon" id="total-extra-income-addon"><i class="fa fa-money" aria-hidden="true"></i></span>
                <input type="number" min="1" ng-model="formData.totalExtraIncome" class="form-control" placeholder="Ingreso Extra Total" aria-label="Ingreso Extra Total" aria-describedby="total-extra-income-addon" id="total-extra-income" required readonly>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-4">
            <div class="form-group">
              <label for="add-detail">
                Registrar Detalle en este Ingreso Extra
              </label>
              <div class="input-group">
                <button type="button" class="btn btn-primary" id="add-detail" ng-click="addDetail()">Añadir Detalle</button>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-4">
            <div class="form-group">
              <label for="insert-extra-income">
                Registrar Ingreso Extra
              </label>
              <div class="input-group">
                <button type="submit" class="btn btn-success" id="insert-extra-income">Registrar Ingreso Extra</button>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-12">
            <div class="card">
              <div class="card-header">
                <i class="fa fa-file-o" aria-hidden="true"></i> Agregar Detalles
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-12 col-md-6">
                    <div class="form-group">
                      <label for="detail-name">
                        Nombre del Detalle
                      </label>
                      <div class="input-group">
                        <span class="input-group-addon" id="detail-name-addon"><i class="fa fa-font" aria-hidden="true"></i></span>
                        <input type="text" ng-model="detail.name" class="form-control" placeholder="Nombre del Detalle" aria-label="Nombre del Detalle" aria-describedby="detail-name-addon" id="detail-name">
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-6">
                    <div class="form-group">
                      <label for="detail-price">
                        Cantidad del Ingreso Extra
                      </label>
                      <div class="input-group">
                        <span class="input-group-addon" id="detail-price-addon">$</span>
                        <input type="number" ng-model="detail.price" class="form-control" placeholder="Cantidad del Ingreso Extra" aria-label="Cantidad del Ingreso Extra" aria-describedby="detail-price-addon" id="detail-price">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
      
      <div class="card" style="margin-top:15px;">
        <div class="card-header">
          <i class="fa fa-file-text-o" aria-hidden="true"></i> Detalles Registrados en este Ingreso Extra
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-12 col-md-7 offset-md-3">
              <table class="table table-responsive table-bordered">
                <thead class="thead-dark">
                  <tr scope="row">
                    <th scope="col" class="align-middle text-center">
                      Nombre del Ingreso Extra
                    </th>
                    <th scope="col" class="align-middle text-center">
                      Cantidad del Ingreso Extra
                    </th>
                    <th scope="col" class="align-middle text-center">
                      Acciones
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr scope="row" ng-repeat="detail in formData.details">
                    <td scope="col" class="align-middle text-center">
                      {{detail.name}}
                    </td>
                    <td scope="col" class="align-middle text-center">
                      $ {{detail.price}}
                    </td>
                    <td scope="col" class="align-middle text-center">
                      <a href="#" ng-click="removeDetail(detail.name)"><i class="fa fa-minus-circle" aria-hidden="true"></i></a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>