<div class="card" ng-controller="OffersController" ng-init="loadInsertData()">
    <h4 class="card-header">
        <i class="fa fa-percent" aria-hidden="true"></i> INGRESAR OFERTAS
    </h4>
    <div class="card-body">
        <form ng-submit="insert()">
            <div class="row">
                <!--
                <div class="col-sm-12 col-md-4">
                    <div class="form-group">
                        <label for="offer-code">
                            Código Interno
                        </label>
                        <div class="input-group">
                            <span class="input-group-addon" id="offer-code-addon"><i class="fa fa-code" aria-hidden="true"></i></span>
                            <input type="text" ng-model="formData.internalCode" class="form-control" placeholder="Codigo Interno de la Oferta" aria-label="Codigo Interno de la Oferta" aria-describedby="offer-code-addon" id="offer-code" required>
                        </div>
                    </div>
                </div>
                -->
                <div class="col-sm-12 col-md-4">
                    <div class="form-group">
                        <label for="offer-percentage">
                            Porcentaje de Descuento
                        </label>
                        <div class="input-group">
                            <span class="input-group-addon" id="offer-percentage-addon"><i class="fa fa-percent" aria-hidden="true"></i></span>
                            <input type="number" ng-change="calculatePercentagePrice()" min="0" step="0.01" ng-model="formData.percentage" class="form-control" placeholder="Procentaje de Descuento" aria-label="Procentaje de Descuento" aria-describedby="offer-percentage-addon" id="offer-percentage" required>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4">
                    <div class="form-group">
                      <label for="insert-offer">
                        Registrar Oferta
                      </label>
                      <div class="input-group">
                        <button type="submit" class="btn btn-success" id="insert-offer">Registrar Oferta</button>
                      </div>
                    </div>
                </div>
            </div>
            
            <!-- Datalists -->
            
            <datalist id="internalCodes">
                <option ng-repeat="internalCode in productsInternalCodes track by $index" ng-value="internalCode"></option>
            </datalist>
            
            <datalist id="names">
                <option ng-repeat="name in productsNames track by $index" ng-value="name"></option>
            </datalist>
            
            <!-- --------- -->
            
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            Agregar Producto a la Oferta
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-12 col-md-3">
                                    <div class="form-group">
                                        <label for="product-code">
                                            Código Interno del Producto
                                        </label>
                                        <div class="input-group">
                                            <span class="input-group-addon" id="product-code-addon"><i class="fa fa-code" aria-hidden="true"></i></span>
                                            <input type="number" ng-change="findProductInfoPriceByCode()" list="internalCodes" ng-model="product.internalCode" class="form-control" placeholder="Codigo Interno del Producto" aria-label="Codigo Interno del Producto" aria-describedby="product-code-addon" id="product-code" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-3">
                                    <div class="form-group">
                                        <label for="product-name">
                                            Nombre del Producto
                                        </label>
                                        <div class="input-group">
                                            <span class="input-group-addon" id="product-name-addon"><i class="fa fa-font" aria-hidden="true"></i></span>
                                            <input type="text" ng-change="findProductInfoPriceByName()" list="names" ng-model="product.name" class="form-control" placeholder="Nombre del Producto" aria-label="Nombre del Producto" aria-describedby="product-name-addon" id="product-name" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-3">
                                    <div class="form-group">
                                        <label for="product-original-price">
                                            Precio Original del Producto
                                        </label>
                                        <div class="input-group">
                                            <span class="input-group-addon" id="product-original-price-addon"><i class="fa fa-money" aria-hidden="true"></i></span>
                                            <input type="text" ng-model="product.originalPrice" class="form-control" placeholder="Precio Original del Producto" aria-label="Precio Original del Producto" aria-describedby="product-original-price-addon" id="product-original-price" readonly required>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-3">
                                    <div class="form-group">
                                        <label for="product-minimum-price">
                                            Precio mínimo del Producto
                                        </label>
                                        <div class="input-group">
                                            <span class="input-group-addon" id="product-original-price-addon"><i class="fa fa-money" aria-hidden="true"></i></span>
                                            <input type="number" ng-model="product.minimumTotal" class="form-control" placeholder="Precio Mínimo del Producto" aria-label="Precio Mínimo del Producto" aria-describedby="product-minimum-price-addon" id="product-minimum-price" readonly required>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-3">
                                    <div class="form-group">
                                        <label for="product-offer-price">
                                            Precio Oferta del Producto
                                        </label>
                                        <div class="input-group">
                                            <span class="input-group-addon" id="product-offer-price-addon"><i class="fa fa-money" aria-hidden="true"></i></span>
                                            <input type="number" ng-min="product.minimumTotal" ng-model="product.offerPrice" class="form-control" placeholder="Nombre del Producto" aria-label="Nombre del Producto" aria-describedby="product-offer-price-addon" id="product-offer-price" readonly required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>