<form ng-submit="login()" ng-controller="LoginController">
  <div class="form-group">
    <label for="username">Nombre de Usuario</label>
    <input type="text" class="form-control" id="username" aria-describedby="textHelp" placeholder="Ingrese su nombre de usuario" ng-model="userName">
    <small id="textHelp" class="form-text text-muted">Debe ingresar su nombre de usuario para continuar</small>
  </div>
  <div class="form-group">
    <label for="pass">Contraseña</label>
    <input type="password" class="form-control" id="pass" placeholder="Ingrese su contraseña" ng-model="password">
  </div>
  <button type="submit" class="btn btn-primary">Ingresar</button>
</form>