<div ng-controller="ReportsController" ng-init="loadProductsReports()">
    <div class="card">
        <h4 class="card-header">
            <i class="fa fa-files-o" aria-hidden="true"></i> VENTAS TOTALES POR PRODUCTO
        </h4>
        <div class="card-body" id="allTimesProductChart">
            <canvas id="base" class="chart-horizontal-bar" chart-series="allTimesSeries" chart-data="allTimesData" chart-labels="allTimesLabels" chart-options="options" chart-legend="true">
            </canvas>
        </div>
    </div>

    <div class="card" style="margin-top:15px;">
        <h4 class="card-header">
            <i class="fa fa-calendar" aria-hidden="true"></i> VENTAS TOTALES POR PRODUCTO ENTRE FECHAS
        </h4>
        <div class="card-body" id="betweenDatesProductChart">
            <div class="row">
                <div class="col-sm-12 col-md-4">
                    <div class="form-group">
                        <label for="firstDate">
                            Desde el ...
                        </label>
                        <div class="input-group">
                            <span class="input-group-addon" id="firstDate-addon"><i class="fa fa-calendar-o" aria-hidden="true"></i></span>
                            <input type="date" ng-model="formData.firstDate" class="form-control" placeholder="Fecha de Inicio" aria-label="Fecha de Inicio" aria-describedby="firstDate-addon" id="firstDate">
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4">
                    <div class="form-group">
                        <label for="lastDate">
                            Hasta el ...
                        </label>
                        <div class="input-group">
                            <span class="input-group-addon" id="lastDate-addon"><i class="fa fa-calendar-o" aria-hidden="true"></i></span>
                            <input type="date" ng-min="formDate.firstDate" ng-model="formData.lastDate" class="form-control" placeholder="Fecha de Término" aria-label="Fecha de Término" aria-describedby="lastDate-addon" id="lastDate">
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4">
                    <div class="form-group">
                        <label for="searchBetweenDates">
                            Buscar entre Fechas
                        </label>
                        <div class="input-group">
                            <button type="button" class="btn btn-primary" id="searchBetweenDates" ng-click="searchBetweenDates()">Buscar</button>
                        </div>
                    </div>
                </div>
            </div>
            
            <canvas id="base2" class="chart-horizontal-bar" chart-series="betweenDatesSeries" chart-data="betweenDatesData" chart-options="options" chart-legend="true">
            </canvas>
        </div>
    </div>
</div>